/* Navbar */
header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background: #2e7d32;
  /* green theme */
  padding: 12px 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

#lang-menu {
  display: flex;
  position: absolute;
  top: 70px;
  right: 80px;
  flex-direction: column;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  display: none;
}

#navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Logo */
.logo-img {
  height: 45px;
  width: auto;
  border-radius: 6px;
}

#navbar-left h1 {
  color: white;
  font-weight: 400;
  font-size: 35px;
}

.nav-btn {
  margin: 5px;
  padding: 0px 5px;
  color: white;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  color: #b9b9b9;
}

/* Right side button */
#navbar-right button {
  background: #ffffff;
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  color: #2e7d32;
}

#navbar-right button:hover {
  background: #e8f5e9;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 12px 8px;
  }

  #navbar-left {
    gap: 5px;
  }

  .logo-img {
    box-sizing: border-box;
    max-width: 10vw;
    height: auto;
  }

  .logo-txt {
    box-sizing: border-box;
    max-width: 40vw;
    height: auto;
  }
}