/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2f4f2f;
  color: white;
  padding: 20px;
}

footer .uppersection {
  display: flex;
  gap: 50px;
  justify-content: center;
}

footer .lowersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
}

footer .block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer a {
  color: #c5c5c5;
  font-size: 15px;
}

footer a:hover {
  color: #c5c5c582;
}

footer .links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

footer .rights {
  font-size: 15px;
  margin: 10px auto;

}

@media only screen and (max-width: 768px) {
  footer .uppersection {
    gap: 25px;
    /* flex-direction: column; */
    align-items: center;
  }
}