.show-only-in-ph{
    display: none;
}
@media only screen and (max-width: 768px) {
    /* .card {
        margin: 20px;
    } */

    .hide-in-ph {
        display: none;
    }

    .show-only-in-ph {
        display: unset;
    }

    #navbar-left h1 {
        color: white;
        /* font-weight: 200; */
        font-size: 25px;
    }

    #cards {
        flex-direction: column;
        align-items: center;
    }

    .column-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .crop-card {
        width: auto;
    }

    .crop-card img {
        width: 95%;
        /* height: 10%; */
    }

    .crop-cards {
        flex-direction: column;
    }

    #hero-cards {
        padding: 0;
    }

    #hero {
        padding: 100px 60px;
    }
}
