/* Navbar */
header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 000;
  justify-content: space-between;
  align-items: center;
  background: #2e7d32;
  /* green theme */
  padding: 12px 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

#navbar-left{
  display: flex;
  align-items: center;
  gap:10px;
}

/* Logo */
.logo-img {
  height: 45px;
  width: auto;
  border-radius: 6px;
}

#navbar-left h1{
  color: white;
  font-weight: 200;
  font-size: 35px;
}

.nav-btn {
  margin: 5px;
  padding: 0px 5px;
  color: white;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  color: #b9b9b9;
}

/* Right side button */
#navbar-right button {
  background: #ffffff;
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  color: #2e7d32;
}

#navbar-right button:hover {
  background: #e8f5e9;
}