/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
#navbar {
  background-color: #2e7d32;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;

}

@media only screen and (max-width: 768px) {
  #navbar {
    padding: 15px 8px;
  }
}

.logo-img {
  height: 50px;
  width: auto;
  border-radius: 10%;
}

#navbar-right a,
button {
  background: #ffcc00;
  /* color: #2e7d32; */
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#navbar-right a:hover {
  background: #e6b800;
}

#navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

#navbar-left h3 {
  color: white;
  font-size: 30px;
  font-weight: 400;
}