/* Responsive */
@media (max-width: 768px) {
    #cards {
      flex-direction: column;
      align-items: center;
    }
  
    .column-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #navbar {
      justify-content: center;
    }
  }
  